.object {
  padding: 30px 100px;
  h1 {
    margin-bottom: 30px;
    color: darkslateblue;
  }
  button {
    margin: 0 20px 20px;
    width: 100px;
    height: 40px;
    border-radius: 15px;
    font-size: 18px;
    background-color: #61dafb;
  }
  pre {
    font-size: 16px;
    color: green;
    padding-bottom: 14px;
  }
}